<html>
    <head>
       <title>Registration Form</title>
       <link rel="stylesheet" type="text/css" href="../static/styles/master.css">
    </head>
    <body>
        <h3>Beer-O-The Month Club Registration Form</h3>
        <form action='/process' method='post'>
            First Name       <input type='text'     name='firstname'    value='{{session['firstname']}}'>
            Last Name        <input type='text'     name='lastname'     value='{{session['lastname']}}'>
            e-mail           <input type="text"     name="email"        value='{{session['email']}}' >
            DOB     <input id="dob" type="date"     name="dob"          value='{{session['dob']}}' max="{{mindob}}" >
            Password <span id=small>(8char min, at least 1 lc and 1 uc character)</span>
                             <input type="password" name="password"     value='{{session['psw']}}' >
            Confirm Password <input type="password" name="confirmation" value='{{session['pswconfirm']}}' >
            <input type='submit' value='Submit Registration'>
        </form>
        <form action="/reset">
            <INPUT Type="submit" VALUE="Reset all fields">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>
