<html>
    <head>
       <title>Dojo Survey Record</title>
       <link rel="stylesheet" type="text/css" href="../static/styles/master.css">
    </head>
    <body>
        <h3>Dojo Survey Record</h3>
        <p><span>Name: </span>{{session['name']}}</p>
        <p><span>Location: </span>{{session['location']}}</p>
        <p><span>Language: </span>{{session['language']}}</p>
        <p><span>Comment: </span>{{session['comment']}}</p>
        <form action="/reset">
            <INPUT Type="submit" VALUE="Return N Reset">
        </form>
    </body>
</html>
